<div style="width:600px;height:300px;background-color:white;border:25px solid lightblue;margin:100px 250px 100px 250px;border-radius:20px;" >
    
    <div align="center">
        <img src="~/Images/ataflex-1404897794.png" style="width:20%;margin:15px 35px 15px 35px;" />
    </div>           
    <p style="text-align:center;font-style:normal;font-family:Arial;font-size:14px;">
        <b>SİZLER İÇİN HAZIRLADIĞIMIZ ATA HOLDiNG<br /> 
        ESNEK YAN HAKLARI SİSTEMİNE HOŞGELDİNİZ.</b>      
    </p>

    <p style="text-align:center;font-family:Arial;font-size:12px;">
        Ataflex Esnek Yan Haklar Sistemimiz ile mevcut sigorta,servis gibi yan<br />
     haklarınızdan kullanmadıklarınızın yerine kendi ihtiyaçlarınız doğrultusunda spor<br /> 
       salonu ve alışveriş çeki gibi farklı diğer imkanlardan yararlanabileceksiniz.
    </p>

    <center><button class="btn btn-danger" onclick="location.href='/Home/VazgecilmezYanHaklariniz'">BAŞLA</button>        
    </center>
   
</div>
