
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="renkGecisi-sol" class="index-left">
    <input class="button" id="rotate" type="submit" value="YAN HAKLARINIZ" style="position:absolute;" />
</section>
<aside id="renkGecisi-sag" class="index-right">
    <input class="button" id="rotate2" type="submit" value="YAN HAK SEPETİ" style="border-radius:25px 0px 0px 0px; position:absolute;" />
    @Html.Partial("_WelcomePage")

   
</aside>

    



