
@{
    ViewBag.Title = "VazgecilmezYanHaklariniz";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<link href="~/Content/StyleSheets/general.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />


<div style="height:580px;margin:0px 2px 0px 2px">
    <div id="renkGecisi-sag" style="height:100%; width:20%; float:left;">
        <input class="button" id="rotate3" type="submit" value="YAN HAKLARINIZ" style="position:absolute;"/>
        <p style="color:white;font-size:small;text-align:center;margin-top:5px;"><u>Hoş Geldin,<b>Ali Yılmaz</b></u></p>
        <div id="sınır">
            <ul id="menu">
                <li><a class="menu selected" href="#">TEMEL(DEĞİŞTİRİLEMEZ)<br />YAN HAKLARINIZ</a></li>
                <li><a href="#">SAĞLIK VE GÜVENCE</a></li>
                <li><a href="#">İLAVE TEMİNATLAR</a></li>
                <li><a href="#">YOL DESTEĞİ</a></li>
                <li><a href="#">SPOR</a></li>  
                <li><a href="#">TURİZM</a></li> 
                <li><a href="#">GIDA</a></li> 
                <li><a href="#">HEDİYE ÇEKLERİ</a></li> 
                <li><a href="#">BİREYSEL EMEKLİLİK SİSTEMİ</a></li> 
                <li><a href="#">MAAŞIMDAN ATAFLEX'E</a></li>  
            </ul>                                
        </div>
    </div>
    <div class="general_center" style="width:55%;">
        <header style="text-align:center; color:red; font-family:Verdana; font-size:11px; margin-top:10px;">TEMEL (DEĞİŞTİRİLEMEZ)<br />YAN HAKLARINIZ</header>
        <p style="text-align:left; font-size:8px; font-family:Verdana; margin-top:8px; margin-bottom:10px; margin-left:45px; position:relative; letter-spacing:1px; word-spacing:1px;">Bu grupta yer alanlar temel yan haklarınızdır.İlgili hakkın içeriği itibariyle vazgeçilmesininin/değiştirilmesinin<br />
           mümkün olmaması veya yenileme dönemi itibariyle hakkınızın bu yıl değişime uygun olmaması gibi nedenlerle  aktif<br />
           şekilde uygulamaya dahil edilmemiştir ve esnetilemez.</p>        
        <div style="height:200px; margin-top:10px;">
            <div style="height:30%; width:90%; border-top:1px solid black; margin:10px 15px 10px 30px; position:relative; ">
                    <p style="color:turquoise; font-family:Verdana; font-size:8px; padding-left:20px; margin:4px 0px 4px 0px;"><b>FERDİ KAZA SİGORTASI</b></p>                
                    <p style="width:70%; font-family:Verdana; font-size:7px; color:gray; float:left; letter-spacing:1px; word-spacing:1px; margin:0px 0px 6px 0px; padding-left:20px;">
                    ATA Holding'in sizler için sağlamış olduğu Ferdi Kaza Sigortası <br />
                    hakkıdır.Bu hak ATA Holding tarafından sizlere verilen temel bir<br />
                    haktır.
                    </p>
                    <button class="btn btn-danger btn-sm"  style="float: left; width: 70px; height:25px; text-align:center; border-radius:3px;">13TL</button>
                    <input type="checkbox" style="float:left; transform:scale(1.7); margin-left:20px;" checked/>               
            </div>           
            <div style="height:25%; width:90%; border-top: 1px solid black; margin:10px 15px 10px 30px; position:relative;">
                    <p style="color:turquoise; font-family:Verdana; font-size:8px; padding-left:20px; margin:4px 0px 4px 0px;"><b>YEMEKHANE</b></p>               
                    <p style="width: 70%; font-family: Verdana; font-size: 7px; color:gray; float: left; letter-spacing:1px; word-spacing: 1px; margin: 0px 0px 6px 0px; padding-left: 20px;">
                        ATA Holding'in sizler için sağlamış olduğu yemekhane hakkıdır.Bu <br />
                        hak ATA Holding tarafından sizlere verilen temel bir haktır.<br />                        
                    </p>
                <button class="btn btn-danger btn-sm"  style="float: left; width: 70px; height: 25px; text-align: center; border-radius: 3px;">3000TL</button>
                <input type="checkbox" style=" float:left; transform:scale(1.7);margin-left:20px; " checked />             
            </div>
            <div style="height:25%; width:90%; border-top: 1px solid black; margin:10px 15px 10px 30px; position:relative;">
                <p style="color:turquoise; font-family:Verdana; font-size:8px; padding-left:20px; margin:4px 0px 4px 0px;"><b>AKARYAKIT</b></p>
                <p style="width: 70%; font-family: Verdana; font-size:7px; color:gray; float: left; letter-spacing:1px; word-spacing: 1px; margin: 0px 0px 6px 0px; padding-left: 20px;">
                    ATA Holding'in sizler için sağlamış olduğu akaryakıt hakkıdır.Bu hak<br />
                    ATA Holding tarafından sizlere verilen temel bir haktır.<br />
                </p>
                <button class="btn btn-danger btn-sm"  style="float: left; width: 70px; height: 25px; text-align: center; border-radius:3px;">4000TL</button>
                <input type="checkbox" style=" float:left; transform:scale(1.7);margin-left:20px;" checked />
            </div>
            <div style="height:25%; width:90%; border-top: 1px solid black; margin:10px 15px 10px 30px; position:relative;">
                <p style="color:turquoise; font-family:Verdana; font-size:8px; padding-left:20px; margin:4px 0px 4px 0px;"><b>ARABA</b></p>
                <p style="width: 70%; font-family: Verdana; font-size: 7px; color:gray; float: left; letter-spacing:1px; word-spacing: 1px; margin: 0px 0px 6px 0px; padding-left: 20px;">
                    ATA Holding'in sizler için sağlamış olduğu araba hakkıdır.Bu hak<br />
                    ATA Holding tarafından sizlere verilen temel bir haktır.<br />
                </p>
                <button class="btn btn-danger btn-sm" style="float: left;width: 70px; height: 25px; text-align: center; border-radius: 3px;">41.250TL</button>
                <input type="checkbox" style=" float:left; transform:scale(1.7);margin-left:20px;" checked />
            </div>  
            <div style="height:25%; width:90%; border-top: 1px solid black; margin:10px 15px 10px 30px; position:relative;">
                <p style="color:turquoise; font-family:Verdana; font-size:8px; padding-left:20px; margin:4px 0px 4px 0px;"><b>CEP TELEFONU CİHAZ BEDELİ</b></p>
                <p style="width: 70%; font-family: Verdana; font-size: 7px; color:gray; float: left; letter-spacing:1px; word-spacing: 1px; margin: 0px 0px 6px 0px; padding-left: 20px;">
                    ATA Holding'in sizler için sağlamış olduğu Cep Telefonu Cihaz Bedeli <br />
                    hakkıdır.Bu hak ATA Holding tarafından sizlere verilen temel bir <br />haktır.
                </p>
                <button class="btn btn-danger btn-sm" style="float: left; width:70px; height:25px; text-align:center; border-radius:3px;">1000TL</button>
                <input type="checkbox" style=" float:left; transform:scale(1.7);margin-left:20px;" checked />
            </div> 
            <div style="height:25%; width:90%; border-top: 1px solid black; margin:10px 15px 10px 30px; position:relative;">
                <p style="color:turquoise; font-family:Verdana; font-size:8px; padding-left:20px; margin:4px 0px 4px 0px;"><b>CEP TELEFONU HAT BEDELİ</b></p>
                <p style="width: 70%; font-family: Verdana; font-size: 7px; color:gray; float: left; letter-spacing:1px; word-spacing: 1px; margin: 0px 0px 6px 0px; padding-left: 20px;">
                    ATA Holding'in sizler için sağlamış olduğu Cep Telefonu Hat Bedeli <br />
                    hakkıdır.Bu hak ATA Holding tarafından sizlere verilen temel bir <br />haktır.
                </p>
                <button class="btn btn-danger btn-sm" style="float: left; width: 70px;height:25px;text-align:center;border-radius:3px;">840TL</button>
                <input type="checkbox" style=" float:left; transform:scale(1.7);margin-left:20px; " checked />
            </div> 
            <div style="height:25%; width:90%; border-top: 1px solid black; margin:10px 15px 10px 30px; position:relative;">
                <p style="color:turquoise; font-family:Verdana; font-size:8px; padding-left:20px; margin:4px 0px 4px 0px;"><b>IPAD CİHAZ BEDELİ</b></p>
                <p style="width: 70%; font-family: Verdana; font-size: 7px; color:gray; float: left; letter-spacing:1px; word-spacing: 1px; margin: 0px 0px 6px 0px; padding-left: 20px;">
                    ATA Holding'in sizler için sağlamış olduğu Ipad cihaz bedeli hakkıdır.<br />
                    Bu hak ATA Holding tarafından sizlere verilen temel bir haktır.<br />
                </p>
                <button class="btn btn-danger btn-sm" style="float: left; width: 70px;height:25px;text-align:center;border-radius:3px;">1200TL</button>
                <input type="checkbox" style=" float:left; transform:scale(1.7);margin-left:20px;" checked />
            </div>                
            <div style="height:25%; width:90%; border-top: 1px solid black; margin:10px 15px 10px 30px; position:relative;">
                <p style="color:turquoise; font-family:Verdana; font-size:8px; padding-left:20px; margin:4px 0px 4px 0px;"><b>IPAD DATA HATTI BEDELİ</b></p>
                <p style="width: 70%; font-family: Verdana; font-size: 8px; color:gray; float: left; letter-spacing:1px; word-spacing: 1px; margin: 0px 0px 6px 0px; padding-left: 20px;">
                    ATA Holding'in sizler için sağlamış olduğu Ipad Data Hattı Bedeli <br />
                    hakkıdır.Bu hak ATA Holding tarafından sizlere verilen temel bir <br />haktır.
                </p>
                <button class="btn btn-danger btn-sm" style="float: left; width: 70px;height:25px;text-align:center;border-radius:3px;">400TL</button>
                <input type="checkbox" style=" float:left; transform:scale(1.7);margin-left:20px;" checked />
            </div>                                                 
        </div>
        
    </div>
    <div class="general_right">
        <input class="button" id="rotate4" type="submit" value="YAN HAK SEPETİ" style="border-radius:25px 0px 0px 0px; position:absolute;" />
        <div style="height:150px;width:340px;background-color:white; margin-top:80px;padding:20px;">
            <label style="font-size:12px;padding-top:10px;color:gray;"><b>YAN HAK TOPLAMINIZ*</b></label>
            <button class="btn btn-danger btn-sm"  style="color:white;text-align:center;border-radius:3px;float:right;">62.667,00TL</button>
            <div style="background-color:lightgray;color:gray;margin-bottom:1px;">                                    
               <div style="float:left;background-color:lightgray; width:330px;">
                 <i class="fa fa-plus" style="float:left;margin:10px 0px 0px 10px;"></i>
                 <label style="float:left;padding:5px;">TEMEL Y.H.</label>
                 <label style="float:right;">51.973,00TL</label>
               </div>                                                                
            </div>
            <hr />
            <div style="background-color:lightgray;color:gray;">
                <div style="float:left;background-color:lightgray; width:330px;">
                    <i class="fa fa-plus" style="float:left;margin:10px 0px 0px 10px;"></i>
                    <label style="float:left;padding:5px;">SAĞLIK VE GÜVENCE</label>
                    <label style="float:right;">2.770,00TL</label>
                </div>
            </div>
            <div style="background-color:lightgray;color:gray;">
                <div style="float:left;background-color:lightgray; width:330px;">
                    <i class="fa fa-plus" style="float:left;margin:10px 0px 0px 10px;"></i>
                    <label style="float:left;padding:5px;">İLAVE TEMİNATLAR</label>
                    <label style="float:right;">826,38TL</label>
                </div>
            </div>
            <div style="background-color:lightgray;color:gray;">
                <div style="float:left;background-color:lightgray; width:330px;">
                    <i class="fa fa-plus" style="float:left;margin:10px 0px 0px 10px;"></i>
                    <label style="float:left;padding:5px;">YOL DESTEĞİ</label>
                    <label style="float:right;">5.000,00TL</label>
                </div>
            </div>
            <div style="background-color:lightgray;color:gray;">
                <div style="float:left;background-color:lightgray; width:330px;">
                    <i class="fa fa-plus" style="float:left;margin:10px 0px 0px 10px;"></i>
                    <label style="float:left;padding:5px;">ESNEK LİMİTİM</label>
                    <label style="float:right;">386,32TL</label>
                </div>
            </div>

        </div>
    </div>
</div>



